# Виключаємо середовища розробки та кеш
.venv
__pycache__/

# Виключаємо файли, які будемо монтувати (Voluming)
# ВАЖЛИВО: База даних і завантаження мають жити на ХОСТІ, а не в контейнері.
pixiv_media.db
pixiv_downloads/

# Загальний кеш
*.pyc